<ion-view view-title="Online Shop">
   <div class="tabs-striped tabs-color-royal">
    <ul class="tabs">
        <li ng-class="{active:isSelected(1)}" class="tab-item">
            <a ng-click="select(1)">All</a></li>
        <li ng-class="{active:isSelected(2)}" class="tab-item">
            <a ng-click="select(2)">Life</a></li>
        <li ng-class="{active:isSelected(3)}" class="tab-item">
            <a ng-click="select(3)">Object</a></li>
        <li ng-class="{active:isSelected(4)}" class="tab-item">
            <a  ng-click="select(4)">Fiction</a></li>
		<li ng-class="{active:isSelected(5)}" class="tab-item">
            <a ng-click="select(5)">Pattern</a></li>
        <li ng-class="{active:isSelected(6)}" class="tab-item">
            <a ng-click="select(6)">Others</a></li>
    </ul>
  </div>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="artwork in artworks | filter:{category: filtText}" href="#/app/onlineshop/{{artwork._id}}" class="item-thumbnail-left">
        <img ng-src="{{baseURL+artwork.image}}">
        <h2>{{artwork.name}}</h2>
        <h2><span style="font-size:75%">{{artwork.price/100 | currency}}</span>
        <span class="badge badge-assertive">{{artwork.label}}</span></h2>
        <p>{{artwork.description}}</p>
        <ion-option-button class="button-assertive icon ion-plus-circled"
            ng-click="addWishlist(artwork._id)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
